.main-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#navbar {
    width: 20%;
    display: flex;
    flex-direction: column;
}

#main-doc {
    width: 80%;
}

.nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: #000;
}

@media (max-width: 1080px) {
    .main-content {
        flex-direction: column;
        justify-content: space-evenly;
    }

    #navbar {
        width: 99%;
        flex-direction: row;
    }

    #main-doc {
        width: 99%
    }

    .nav-link {
        padding-top: 2px;
        padding-bottom: 2px;
        width: 20%;
    }
}